body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
button {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: violet;
  color: white;
  cursor: pointer;
}
